/* COLOURS and FONTS */
:root {
    --darkblue: #05386b;
    --darkgreen: #379683;
    --medgreen: #5cdb95;
    --lightgreen: #8ee4af;
    --pale: #edf5e1;
    --body: 'Josefin Sans', sans-serif;
    --heading: 'Bungee Inline', cursive;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  html {
    box-sizing: border-box;
    font-size: 10px;
  }
  
  body {
    font-family: var(--body);
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.4;
    color: var(--darkblue);
  }
  
  h1,
  h2 {
    font-family: var(--heading);
    text-align: center;
    color: var(--pale);
  }
  
  h1 {
    font-size: 6.2rem;
  }
  
  h2 {
    font-size: 4.8rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  /* navigation */
  
  #navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--darkblue);
    z-index: 10;
  }
  
  .menu {
    display: flex;
    margin-right: 2rem;
  }
  
  .menu li {
    color: var(--pale);
    font-weight: 500;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 2rem;
  }
  
  .menu li:hover {
    color: var(--medgreen);
    cursor:pointer;
  }
  
  #welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(0deg, var(--medgreen) 0%, var(--lightgreen) 100%);
  }
  
  #welcome-section > p {
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
    border-top: 1px solid var(--pale);
    border-bottom: 1px solid var(--pale);
    line-height: 3rem;
    height: 2.4rem;
    margin-top: 1.6rem;
  }
  
  #projects {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--darkgreen);
  }
  
  .projects-heading {
    max-width: 640px;
    margin: 0 auto;
  }
  
  #projects > p {
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
    border-top: 1px solid var(--pale);
    border-bottom: 1px solid var(--pale);
    line-height: 3rem;
    height: 2.4rem;
    margin: 1.6rem auto;
    width: 273px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2rem;
    width: 90%;
    max-width: 1280px;
    margin: 6rem auto;
  }
  
  .project-tile {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
  }
  
  .project-tile img {
    width: 100%;
    object-fit: cover;
  }
  
  .project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
    background-color: var(--pale);
  }
  
  .project-tile p:hover {
    color: var(--darkgreen);
    text-decoration: underline;
  }
  
  .project-tile:hover {
    opacity: 70%;
  }
  
  button {
    display: inline-block;
    padding: 2rem 4rem;
    border-radius: 3px;
    border: 1.5px solid var(--pale);
    color: var(--pale);
    font-size: 2rem;
    background: var(--darkblue);
    transition: background 0.3s ease-out;
    text-transform:uppercase;
  }
  
  button:hover {
    background: var(--medgreen);
    transform: scale(95%);
  }
  
  button:active {
    background: var(--lightgreen);
    transform: scale(100%);
  }
  
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    padding: 0 2rem;
    background-image: linear-gradient(0deg, var(--lightgreen) 0%, var(--medgreen) 100%);
  }
  
  #contact > h2 {
    font-size: 6.2rem;
  }
  
  #contact > p {
    font-style: italic;
  }
  
  #socials {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
    font-size: 3rem;
    font-weight: normal;
  }
  
  #socials a {
    color: var(--darkblue);
    padding: 1rem 2rem;
  }
  
  #socials a:hover {
    color: var(--pale);
    transition: background 0.3s ease-out;
    transform: scale(120%);
  }
  
  footer {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--darkblue);
  }
  
  footer > p {
    margin: 2rem;
    color: var(--pale);
  }
  
  footer a {
    color: var(--pale);
  }
  
  footer a:hover {
    color: var(--medgreen);
  }
  
  footer i {
    vertical-align: middle;
  }
  
  /* Breakpoints */
  @media (max-width: 1200px) {
    html {
      font-size: 60%;
    }
  }
  
  @media (max-width: 980px) {
    html {
      font-size: 58%;
    }
  }
  
  @media (max-width: 460px) {
    html {
      font-size: 55%;
    }
  
    #navbar {
      justify-content: center;
    }
  
    .menu {
      margin: 0 1rem;
    }
  
    .projects-heading {
      font-size: 4rem;
    }
    
    #projects {
      padding: 6rem 1rem;
      grid-template-columns: 1fr;
    }
  
    #contact > h2 {
      font-size: 4rem;
    }
  
    footer {
      flex-direction: column;
      text-align: center;
    }
    
  }